.btn {
  padding: 5px 15px;
  border: none;
  border-radius: 4px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: #1c53b8;
  cursor: pointer;
}

.load-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #2196f3;
}
