.form-container {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #3867c0;
  position: sticky;
  top: -1px;
}

.search-form {
  display: flex;

  justify-content: center;

  & input {
    margin-right: 10px;
  }
}
