.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
  gap: 20px;
  padding: 0 15px;

  width: 1200;
}

.photo-card {
  width: calc((100% - 60px) / 4);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-image {
  width: 278px;
  height: 215px;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.info-item {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  text-align: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

b {
  margin-bottom: 5px;
}
